/* Palette CSS taken from Coolors.co*/
:root{ /* CSS HEX */
--space-cadet: #283044ff;
--coral-pink: #f4978eff;
--melon: #f8ad9dff;
--apricot: #fbc4abff;
--light-blue: #c1eeffff;
}

.columns {
    column-count: 2;
  }

body {
    background-color: var(--apricot);
        color: var(--space-cadet);
        text-align: center;
        margin-top: 150px;
        font-size: small;
}
